<div>
  <table
    class="pf2e-d20-love-meter-histogram"
    border="0"
    cellpadding="0"
    cellspacing="0"
    role="presentation"
  >
    <tr>
      {{#each filteredResults}}
        <td class="pf2e-d20-love-meter-histogram-col">
          <table
            class="pf2e-d20-love-meter-bar"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            {{#if criticalSuccesses}}
              <tr>
                <td class="pf2e-d20-love-meter-success-critical"><span
                    data-tooltip="<div>{{criticalSuccesses.by}}</div>"
                  >{{criticalSuccesses.count}}
                  </span></td>
              </tr>
            {{/if}}
            {{#if successes}}
              <tr>
                <td class="pf2e-d20-love-meter-success"><span
                    data-tooltip="<div>{{successes.by}}</div>"
                  >{{successes.count}}</span></td>
              </tr>
            {{/if}}
            {{#if failures}}
              <tr>
                <td class="pf2e-d20-love-meter-failure"><span
                    data-tooltip="<div>{{failures.by}}</div>"
                  >{{failures.count}}</span></td>
              </tr>
            {{/if}}
            {{#if criticalFailures}}
              <tr>
                <td class="pf2e-d20-love-meter-failure-critical"><span
                    data-tooltip="<div>{{criticalFailures.by}}</div>"
                  >{{criticalFailures.count}}</span></td>
              </tr>
            {{/if}}
            {{#if unknowns}}
              <tr>
                <td class="pf2e-d20-love-meter-unknown">{{unknowns.count}}</td>
              </tr>
            {{/if}}
          </table>
        </td>
      {{/each}}
    </tr>
    <tr>
      {{#each filteredResults}}
        <td style="text-align: center;">{{@key}}</td>
      {{/each}}
    </tr>
  </table>
  <br />
  <div>
    {{!-- enable this once we've figure out how to do this filtering
    <h3>{{localize "pf2e-d20-love-meter.histogram.session"}}</h3>
    <select name="session">
      {{#select selected}}
        {{#each sessions}}
          <option value="{{@key}}">{{started}} - {{ended}}</option>
        {{/each}}
      {{/select}}
    </select>
    <br />
    --}}
    <div>
      <h3>{{localize "pf2e-d20-love-meter.histogram.users"}}</h3>
      {{#each users}}
        <input
          data-action="onUser"
          type="checkbox"
          name="user-{{@key}}"
          {{checked enabled}}
        />
        <label>{{name}}</label>
      {{/each}}
    </div>
    <br />
    <div>
      <h3>{{localize "pf2e-d20-love-meter.histogram.types"}}</h3>
      {{#each types}}
        <input
          data-action="onType"
          type="checkbox"
          name="type-{{@key}}"
          {{checked enabled}}
        />
        <label>{{@key}}</label>
      {{/each}}
    </div>
    <br />
    <div>
      <h3>{{localize "pf2e-d20-love-meter.histogram.domains"}}</h3>
      {{#each domains}}
        <input
          data-action="onDomain"
          type="checkbox"
          name="domain-{{@key}}"
          {{checked gated}}
        />
        <label>{{@key}}</label>
      {{/each}}
    </div>
  </div>
</div>
