<div>
  <table
    class="pf2e-d20-domains-histogram"
    border="0"
    cellpadding="0"
    cellspacing="0"
    role="presentation"
  >
    <tr>
      {{#each filteredResults}}
        <td class="pf2e-d20-domains-histogram-col">
          <table
            class="pf2e-d20-domains-bar"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            {{#if criticalSuccesses}}
              <tr>
                <td class="pf2e-d20-domains-success-critical"><span data-tooltip="<div><table>{{#each criticalSuccesses.tooltip}}<tr>{{#if roller}}<td>{{roller}}:</td>{{/if}}{{#if type}}<td>{{type}}:</td>{{/if}}<td>{{needed}}</td></tr>{{/each}}</table><div>">
                    {{criticalSuccesses.count}}
                  </span></td>
              </tr>
            {{/if}}
            {{#if successes}}
              <tr>
                <td class="pf2e-d20-domains-success"><span data-tooltip="<div><table>{{#each successes.tooltip}}<tr>{{#if roller}}<td>{{roller}}:</td>{{/if}}{{#if type}}<td>{{type}}:</td>{{/if}}<td>{{needed}}</td></tr>{{/each}}</table><div>">
                    {{successes.count}}</span></td>
              </tr>
            {{/if}}
            {{#if failures}}
              <tr>
                <td class="pf2e-d20-domains-failure"><span data-tooltip="<div><table>{{#each failures.tooltip}}<tr>{{#if roller}}<td>{{roller}}:</td>{{/if}}{{#if type}}<td>{{type}}:</td>{{/if}}<td>{{needed}}</td></tr>{{/each}}</table><div>">
                    {{failures.count}}</span></td>
              </tr>
            {{/if}}
            {{#if criticalFailures}}
              <tr>
                <td class="pf2e-d20-domains-failure-critical"><span data-tooltip="<div><table>{{#each criticalFailures.tooltip}}<tr>{{#if roller}}<td>{{roller}}:</td>{{/if}}{{#if type}}<td>{{type}}:</td>{{/if}}<td>{{needed}}</td></tr>{{/each}}</table><div>">
                  
                    {{criticalFailures.count}}</span></td>
              </tr>
            {{/if}}
            {{#if unknowns}}
              <tr>
                <td class="pf2e-d20-domains-unknown"><span data-tooltip="<div><table>{{#each unknowns.tooltip}}<tr>{{#if roller}}:<td>{{roller}}</td>{{/if}}{{#if type}}<td>{{type}}</td>{{/if}}</tr>{{/each}}</table><div>">
                  {{unknowns.count}}</span></td>
              </tr>
            {{/if}}
          </table>
        </td>
      {{/each}}
    </tr>
    <tr>
      {{#each filteredResults}}
        <td style="text-align: center;">{{@key}}</td>
      {{/each}}
    </tr>
  </table>
  <br />
  <div>
    <div>
      <h3>{{localize "pf2e-d20-domains.histogram.users"}}</h3>
      {{#each users}}
        <input
          data-action="onUser"
          type="checkbox"
          name="user-{{@key}}"
          {{checked enabled}}
        />
        <label>{{name}}</label>
      {{/each}}
    </div>
    <br />
    <div>
      <h3>{{localize "pf2e-d20-domains.histogram.types"}}</h3>
      {{#each types}}
        <input
          data-action="onType"
          type="checkbox"
          name="type-{{@key}}"
          {{checked enabled}}
        />
        <label>{{@key}}</label>
      {{/each}}
    </div>
    <br />
    <div>
      <h3>{{localize "pf2e-d20-domains.histogram.sessions"}}</h3>
      {{#each sessions}}
        <input
          data-action="onSession"
          type="checkbox"
          name="session-{{@key}}"
          {{checked enabled}}
        />
        <label>{{started}}</label>
      {{/each}}
    </div>
    <br />
    <div>
      <h3>{{localize "pf2e-d20-domains.histogram.domains"}}</h3>
      {{#each domains}}
        <input
          data-action="onDomain"
          type="checkbox"
          name="domain-{{@key}}"
          {{checked enabled}}
        />
        <label>{{@key}}</label>
      {{/each}}
    </div>
  </div>
</div>
